.grandpa {
    background-color: #eee;
}

.sortable-container md-list-item {
    cursor: move;
}

.sortable-container > div {
    padding: .5em 1em;
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
    margin: .5em 1em;
    display: block;
    min-height: 20px;
    cursor: move;
    box-sizing: border-box;
}

.mention {
    font-style: normal;
    font-weight: bold;
    color: #757575;
}

md-list .md-subheader {
    font-size: 18px;
    font-weight: 900;
}

md-list-item {
    margin-bottom: 1em;
}

md-dialog-actions {
    background-color: #eee;
}

@media (min-width: 960px) {
    md-dialog.md-dialog-fullscreen {
        min-height: 100%;
        min-width: 100%;
        border-radius: 0;
    }
    md-dialog md-dialog-actions {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}