<md-dialog aria-label="Settings dialog" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="app/images/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="settingsForm">
                    <md-slider-container>
                        <h4>Number of tweets:</h4>
                        <div layout>
                            <div flex="10" layout="" layout-align="center center" class="layout-align-center-center layout-row flex-10">
                                <span class="md-body-1">{{ settings.count }}</span>
                            </div>
                            <md-slider flex ng-model="settings.count" aria-label="tweet count" flex min="1" max="50" md-discrete></md-slider>
                        </div>
                    </md-slider-container>
                    <h4>Twitter handles (just type each Twitter username and hit Enter):</h4>
                    <md-chips ng-model="settings.channels" name="settingsNames" md-max-chips="3">
                        <md-chip-template>
                            <strong>{{$chip}}</strong>
                        </md-chip-template>
                    </md-chips>
                    <div class="errors" ng-messages="settingsForm.settingsNames.$error">
                        <div ng-message="md-max-chips">Max 3 allowed.</div>
                    </div>
                    <div ng-if="settings.channels.length">
                        <h4>Drag and drop to order feed columns:</h4>
                        <div class="sortable-container" sv-root sv-part="settings.channels">
                            <div class="md-raised" ng-repeat="item in settings.channels" sv-element="opts">{{ item }}</div>
                        </div>
                    </div>
                </form>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                Save Settings
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>