<md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular class="md-accent" md-mode="{{ main.waiting }}"></md-progress-circular>
        </div>
        <span flex></span>
        <md-button class="md-raised" ng-click="main.showSettings($event)">Settings</md-button>
    </div>
</md-toolbar>
<div layout="column" layout-gt-xs="row" layout-padding class="grandpa">
    <div flex-gt-sm="33" flex="100" class="col" ng-repeat="out in main.output">
        <div class="tweets" ng-if="out.tweets">
            <md-content>
                <md-list>
                    <md-subheader class="md-no-sticky">{{ out.screen_name }}</md-subheader>
                    <md-list-item class="md-2-line" ng-repeat="item in out.tweets">
                        <div class="md-list-item-text">
                            <h3>{{ item.created_at | date:"MMMM d '@' HH:mm" }}</h3>
                            <h4 ng-if="item.retweet"><span title="original tweet written by {{ item.retweet.name }}">by {{ item.retweet.name }}</span> <a title="open author's feed in new tab or window" href="//twitter.com/{{ item.retweet.screen_name }}" target="_blank">@{{ item.retweet.screen_name }}</a></h4>
                            <p ng-bind-html='item.text'></p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div class="error" ng-if="out.error">
            <md-content layout-padding>
                <p>
                    Could not fetch tweets for <em>{{ out.error.screen_name }}</em><span ng-if="out.error.statusText">: {{ out.error.statusText }} </span><span ng-if="out.error.status">({{ out.error.status }})</span></p>
            </md-content>
        </div>
    </div>
    <div flex="100" class="col" ng-if="!main.output.length">
        <md-content layout-padding>Please click on Settings in the top right corner and add Twitter usernames to fetch tweets for!</md-content>
    </div>
</div>